<a href="https://colab.research.google.com/github/cuauhtemocbe/Portfolio-Data-Scientist/ETL-DB-API/blob/main/ETL_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL-API

# Setup

With the next command, will be install postgresql, and create the placeholder database

In [ ]:
# Installing postgresql server in linux
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a username and password
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
# Setup a database with name `placeholer`
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS placeholder;'
# Creating the database placeholder
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE placeholder;'

 * Starting PostgreSQL 12 database server
   ...done.
ALTER ROLE
DROP DATABASE
CREATE DATABASE

# 1. Creating table
- posts

For the tables comments, albums, photos, todos, users, will be created in the next steps in an automatic way.

In [ ]:
# Creating the table posts
!sudo -u postgres psql -U postgres -c 'CREATE TABLE IF NOT EXISTS posts (userId SERIAL PRIMARY KEY, id INT NOT NULL, title VARCHAR NOT NULL, body VARCHAR NOT NULL);'

CREATE TABLE

#2. ETLs

In this section, I will be reading all the API endpoints using python libraries.

The first commands has a brief description of the steps to achieve the goal: read, transform and load the data into the database 'placeholders'.

In [ ]:
# Importing python libraries

# Requests allows to send HTTP request
import requests
# Pandas is a great tool to analyze and manage data tables
import pandas as pd
# sqlalchemy is a python sql toolkit
from sqlalchemy import create_engine

In [ ]:
base_url = "https://jsonplaceholder.typicode.com"
resources_list = ["posts", "comments", "albums", "photos", "todos", "users"]
# Make the API requests to all resources in a iterative way
responses_list = list(map(lambda resource: requests.get(f"{base_url}/{resource}").json(),
                          resources_list))

In [ ]:
# Checking the first response in data table (DataFrame object)
df_posts = pd.DataFrame(responses_list[0])
df_posts.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [ ]:
# The users data is more complicated, because some columns has
# a dict format, for example the column 'address' and 'company'
df_users = pd.DataFrame(responses_list[5])
df_users.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [ ]:
# With the next script we can check the data type
type(df_users['address'].iloc[0])

dict

In [ ]:
# It's necessary transform the data to unpack the dict into columns
col = "address"
new_columns = df_users.address.apply(pd.Series)
new_columns.columns = [f"{col}_{c}" for c in new_columns.columns]
new_columns

,address_street,address_suite,address_city,address_zipcode,address_geo
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}"
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}"
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}"
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}"
4,Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}"
5,Norberto Crossing,Apt. 950,South Christy,23505-1337,"{'lat': '-71.4197', 'lng': '71.7478'}"
6,Rex Trail,Suite 280,Howemouth,58804-1099,"{'lat': '24.8918', 'lng': '21.8984'}"
7,Ellsworth Summit,Suite 729,Aliyaview,45169,"{'lat': '-14.3990', 'lng': '-120.7677'}"
8,Dayna Park,Suite 449,Bartholomebury,76495-3109,"{'lat': '24.6463', 'lng': '-168.8889'}"
9,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,"{'lat': '-38.2386', 'lng': '57.2232'}"

In [ ]:
def dict_to_columns(df: pd.DataFrame):
  """Recursively transforms dict columns in a DataFrame into separate columns.
      Args: df (pd.DataFrame): The DataFrame to be processed.

    Returns:
        pd.DataFrame: The modified DataFrame with expanded columns.
    """

  for col in df.columns:
    # Check if the column is a dict column
    if isinstance(df[col].iloc[0], dict):
      # Create a dataframe with the new columns from the dict column
      df_new_cols = df[col].apply(pd.Series)
      # Rename the new columns with the prefix of the origin column
      df_new_cols.columns = [f"{col}_{c}" for c in df_new_cols.columns]
      # Drop the column with dict data type
      df.drop(col, axis="columns", inplace=True)
      # Concatenate the new columns with the dataframe
      df = pd.concat([df, df_new_cols], axis="columns")
      # Recursively transform nested dict columns
      return dict_to_columns(df)

  return df

# Example
# The new columns added are: address_street, address_suite, address_city, address_zipcode,
# company_name, compay_catchPhrase, company_bs, address_geo_lat, address_geo_lng
dict_to_columns(df_users).head()

,id,name,username,email,phone,website,address_street,address_suite,address_city,address_zipcode,company_name,company_catchPhrase,company_bs,address_geo_lat,address_geo_lng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,-31.8129,62.5342

To load the data into 'placeholder' database I will use the next script:
```
engine = create_engine('postgresql://postgres:postgres@localhost:5432/placeholder')
pd.DataFrame(df_posts).to_sql('posts', engine)
```

In postgres we can create the table `posts` with the next query:
```
CREATE TABLE IF NOT EXISTS posts (
  userId SERIAL PRIMARY KEY,
  id INT UNSIGNED NOT NULL,
  title VARCHAR NOT NULL,
  body VARCHAR NOT NULL,
);
```

In [ ]:
# Dropping the table posts to clear the database
!sudo -u postgres psql -U postgres -c 'DROP TABLE IF EXISTS posts'

DROP TABLE

The next cmd summarize the previous steps in the main function etl.

In [ ]:
# elt.py
# Importing python libraries

# Requests allows to send HTTP request
import requests
# Pandas is a great tool to analyze and manage data tables
import pandas as pd
# sqlalchemy is a python sql toolkit
from sqlalchemy import create_engine

def etl():

  base_url = "https://jsonplaceholder.typicode.com"
  engine = create_engine('postgresql://postgres:postgres@localhost:5432/placeholder')

  # Resources or endpoints
  resources_list = ["posts", "comments", "albums", "photos", "todos", "users"]
  # Make the API requests to all resources in a iterative way
  # using a for loop to make easy to read the process
  for resource in resources_list:
    # [1] Get the data from API
    response = requests.get(f"{base_url}/{resource}")
    # [2] Convert to json format
    reponse_json = response.json()
    # [3] Convert to DataFrame object
    df = pd.DataFrame(reponse_json)
    # [4] Unpack the dict columns
    df = dict_to_columns(df)
    # [4] Load data into database
    df.to_sql(resource, engine, index=False)
    print(f"{resource} data was loaded successfully")

In [ ]:
etl()

posts data was loaded successfully
comments data was loaded successfully
albums data was loaded successfully
photos data was loaded successfully
todos data was loaded successfully
users data was loaded successfully

#3. Data Analysis

## a) Retrieve the userId that made most comments on all the Posts:

Answer: All the userId has the same number of comments.

In [ ]:
from sqlalchemy import create_engine

# Connect to the PostgreSQL database
engine = create_engine('postgresql://postgres:postgres@localhost:5432/placeholder')
connection = engine.raw_connection()

In [ ]:
query = "SELECT * FROM posts"
df = pd.read_sql(query, connection)
df.head()

<ipython-input-14-2c0efba0ba96>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [ ]:
# If each row is a comment made by a userId, we can group by userId and count
df.groupby(["userId"])[["userId"]].count()

        userId
userId
1           10
2           10
3           10
4           10
5           10
6           10
7           10
8           10
9           10
10          10

## b) Retrieve the number of comments per Post

In this exercise, I will be using de data `comments`, to get the number of comments for each postId

In [ ]:
query = "SELECT * FROM comments"
df_comments = pd.read_sql(query, connection)
df_comments.head(5)

<ipython-input-16-eb7053e54a2e>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_comments = pd.read_sql(query, connection)

,postId,id,name,email,body
0,1,1,id labore ex et quam laborum,Eliseo@gardner.biz,laudantium enim quasi est quidem magnam volupt...
1,1,2,quo vero reiciendis velit similique earum,Jayne_Kuhic@sydney.com,est natus enim nihil est dolore omnis voluptat...
2,1,3,odio adipisci rerum aut animi,Nikita@garfield.biz,quia molestiae reprehenderit quasi aspernatur\...
3,1,4,alias odio sit,Lew@alysha.tv,non et atque\noccaecati deserunt quas accusant...
4,1,5,vero eaque aliquid doloribus et culpa,Hayden@althea.biz,harum non quasi et ratione\ntempore iure ex vo...

In [ ]:
# If each row is a comment per post (postId), we can group by postId and count
df_comments.groupby(["postId"])[["postId"]].count()

        postId
postId
1            5
2            5
3            5
4            5
5            5
...        ...
96           5
97           5
98           5
99           5
100          5

[100 rows x 1 columns]

All the posts has the same number of comments.

## c) Retrieve the longest post comment made on all the posts

In [ ]:
query = "SELECT * FROM posts"
df_post = pd.read_sql(query, connection)
df_posts.head()

<ipython-input-18-dce66f96beed>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_post = pd.read_sql(query, connection)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [ ]:
# Count the number of words to get the lognest post comment
df_posts['total_words'] = df['body'].str.split().str.len()

In [ ]:
# Sort the comments by total words
df_posts.sort_values("total_words", ascending=False)

,userId,id,title,body,total_words
35,4,36,fuga nam accusamus voluptas reiciendis itaque,ad mollitia et omnis minus architecto odit\nvo...,32
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...,32
58,6,59,qui commodi dolor at maiores et quis id accusa...,perspiciatis et quam ea autem temporibus non v...,32
68,7,69,fugiat quod pariatur odit minima,officiis error culpa consequatur modi asperior...,31
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,31
...,...,...,...,...,...
53,6,54,sit asperiores ipsam eveniet odio non quia,totam corporis dignissimos\nvitae dolorem ut o...,17
87,9,88,sapiente omnis fugit eos,consequatur omnis est praesentium\nducimus non...,16
86,9,87,nostrum quis quasi placeat,eos et molestiae\nnesciunt ut a\ndolores persp...,16
75,8,76,doloremque officiis ad et non perferendis,ut animi facere\ntotam iusto tempore\nmolestia...,16
45,5,46,aut quo modi neque nostrum ducimus,voluptatem quisquam iste\nvoluptatibus natus o...,16

The longest post comment is made by userId 4 and comment id equal to 36.

In [ ]:
# Close the connection
connection.close()